
body {
/*	background-color: #fcfcfc;
*/	/*font-family: 'Quicksand', sans-serif;
	font-family: 'Cantarell', sans-serif;*/
/*	font-family: 'Ubuntu Condensed', sans-serif;
*/	font-family: 'Ubuntu', sans-serif;
}

.container {
	max-width: 1070px;
/*	border: 1px solid red;
*/}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;

}

.navbar-brand{
	padding-left: 0px;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

ul.nav.navbar-nav li a {
	padding-top: 4.5em;
    color: white;
    letter-spacing: 0.13em;
}

.pressed {
}

nav.navbar.navbar-default.container a.navbar-brand {
   color: white;
   letter-spacing: 0.13em;
   font-size: 3em;
   padding-top: 1.7em;
}

.logo {
	margin-top: -30px;
}

.nav>li>a:hover, .nav>li>a:focus {
	color: #E6E6E6 !Important;
}

.title {
	background-image: url(../img/whee.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 680px;
}

.head {
	margin-top: 17%;
	color: white;
	text-align: center;
	font-weight: 500;

}

.name {
	font-size: 80px;
	padding-top: -10px;
	margin-top: -45px;
	letter-spacing: 0.05em;
}

.position {
	font-size: 22px;
}

.line {
	margin-top: -20px;
	margin-bottom: -10px;
}

.about {
	color: #a7aab0;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 18px;
	text-align: center;
}

.heading {
	font-size: 64px;
	color: black;
	text-align: center;
	font-weight: 500;
}

.work {
	margin-top: 4.2em;
}

.thumb img{
    overflow: hidden;
}

.thumb img:hover {
	opacity: 0.9;
	text-decoration: none;
}

.thumb img:after {
	text-decoration: none;
}

.work_row {
	margin-top: 3em;
}

div.caption{
	text-align: center;
	padding-top: 1em;
	color: #222222;
	letter-spacing: 0.13em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:after {
	text-decoration: none;
}

.wrapper {
	margin-top: 6%;
	overflow: hidden;
	position: relative;
	padding:0;
}

.picture {
	position: relative;
	z-index: 0;
	transition: transform 0.4s;
}

.caption {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	transition: opacity 0.4s;
	background-color: rgba(52, 152, 219, 0.4);
	/*background-color: rgba(255, 106, 106, 0.3);	*/
/*	background-color: rgba(255, 255, 255, 0.3);
*//*	background-color: rgba(240, 128, 128, 0.5);	*/
	opacity: 0;
	top:0;
}

.wrapper:hover .caption{
	opacity: 1;
}

.wrapper:hover .picture{
	transform: ;
}

.caption_text {
	font-size: 28px;
	color: white;
	padding-top: 35%;
}

.caption_sub {
	font-size: 18px;
	color: white;
}

.work {
	margin-top: 5%;
}
