
body {
/*	background-color: #fcfcfc;
*/	/*font-family: 'Quicksand', sans-serif;
	font-family: 'Cantarell', sans-serif;*/
/*	font-family: 'Ubuntu Condensed', sans-serif;
*/	font-family: 'Ubuntu', sans-serif;
}

.container {
	max-width: 1070px;
/*	border: 1px solid red;
*/}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;

}

.navbar-brand{
	padding-left: 0px;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

ul.nav.navbar-nav li a {
	padding-top: 4.5em;
/*     color: white; */
    color: black;
    letter-spacing: 0.13em;
}

ul.nav.navbar-nav.home li a {
	padding-top: 4.5em;
	color: white !Important;
    letter-spacing: 0.13em;
}
.pressed {

}

nav.navbar.navbar-default.container a.navbar-brand {
   color: white;
   letter-spacing: 0.13em;
   font-size: 3em;
   padding-top: 1.7em;
}

.logo {
	margin-top: -30px;
}

.nav>li>a:hover, .nav>li>a:focus {
/* 	color: #E6E6E6 !Important; */
}

.title {
	background-image: url(../img/whee.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 680px;
}

.head {
	margin-top: 17%;
	color: white;
	text-align: center;
	font-weight: 500;

}

.name {
	font-size: 80px;
	padding-top: -10px;
	margin-top: -45px;
	letter-spacing: 0.05em;
}

.position {
	font-size: 22px;
}

.line {
	margin-top: -20px;
	margin-bottom: -10px;
}

.about {
	color: #a7aab0;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 18px;
	text-align: center;
}

.heading {
	font-size: 64px;
	color: black;
	text-align: center;
	font-weight: 500;
}

.work {
	margin-top: 4.2em;
}

.thumb img{
    overflow: hidden;
}

.thumb img:hover {
	opacity: 0.9;
	text-decoration: none;
}

.thumb img:after {
	text-decoration: none;
}

.row {
	margin-top: 1em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:after {
	text-decoration: none;
}

.wrapper {
	margin-top: 6%;
	overflow: hidden;
	position: relative;
	padding:0;
}

.picture {
	position: relative;
	z-index: 0;
	transition: transform 0.5s;
}

.caption {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	transition: opacity 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
	/*background-color: rgba(255, 106, 106, 0.3);	*/
/*	background-color: rgba(255, 255, 255, 0.3);
*//*	background-color: rgba(240, 128, 128, 0.5);	*/
	opacity: 0;
	top:0;
	text-align: center;
}

.wrapper:hover .caption{
	opacity: 1;
}

.wrapper:hover .picture{
	transform: scale(1.1);
}

.caption_text {
	font-size: 40px;
	color: white;
 	padding-top: 1%;
 	padding-bottom: 1%;
 	padding-left: ;
 	padding-right: ;
 	width: 10%;
 	margin-top: 5%;
 	margin-bottom: 5%;
 	margin-left: auto;
 	margin-right: auto;
 	font-weight: 400;
 	text-align: center;
 	padding-top: 27%;
}

.caption_sub {
	font-size: 40px;
	color: white;
	margin-top: 0;
}

.caption_sub_small {
	font-size: 20px;
	color: white;
	margin-top: -1em;;
}

.work {
	margin-top: 5%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:after {
	text-decoration: none;
}


/* Project Page */

.cover-pic {
	width: 100%;
}
.project-content {
	margin-top: 2em;
	width: 700px;
	margin: 0 auto;
}

.cover-pic {
	margin-bottom: 2em;
}

.section {
	width: 700px;
	margin-top: 2em;
}

.section-title {
	font-weight: 600;
	margin-top: 2em;
}

.section-text {
	margin-top: 1em;
}

.section-pic {
	margin-top: 2em;
	width: 100%;
}

.img-caption {
	text-align: center;
	margin-top: 1em;
}

.proj-video {
	margin-top: 2em;
	width: 100%;
}

.caption-break {
	margin-top: 0;
}

.section-last {
	margin-bottom: 4em;
}
