!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Andrea Deng
    / Bootstrap
    %link(href="css/bootstrap.min.css" rel="stylesheet")/
    %link(href="css/style.css" rel="stylesheet")/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Roboto+Condensed|Ubuntu+Condensed|Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css')/
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100,100italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.png" />
  
  %body
    %div
      %nav.navbar.navbar-default.container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed(aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Collect the nav links, forms, and other content for toggling
        %a.navbar-brand(href="/")
          %img.img-responsive.logo(src="img/logo.svg")
        %div.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.pressed
              %a(href="/")
                WORK
            %li
              %a(href="/approach") 
                APPROACH
            %li
              %a(href="/about") 
                ABOUT
            %li
              %a(href="http://helloandi.tumblr.com/") 
                BLOG
            
    %div.container
      %div.heading
        ELEGANCE, <span class="spaced">EMOTION</span>,  <span class="spaced">&</span>
        UNDERSTANDING.
      %img.line(src="img/line_black.svg")
      %div.subhead.black-text
        Hi, I'm Andrea and I create unique solutions <br> and delightful experiences.
      %div.work
        %div.row
          %div.col-xs-12.col-md-6
            %a.thumb(href="skrt")
              %div.wrapper
                %img.img-responsive.picture(src="img/closeside.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    SKRT
                  %p.caption_sub_small
                    Wearable
          %div.col-xs-12.col-md-6
            %a.thumb(href="yumi")
              %div.wrapper
                %img.img-responsive.picture(src="img/yumi_iphone.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    YUMI
                  %p.caption_sub_small
                    App
        %div.row.row
          %div.col-xs-12.col-md-6
            %a.thumb(href="binder")
              %div.wrapper
                %img.img-responsive.picture(src="img/binder_work.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    BINDER
                  %p.caption_sub_small 
                    App
          %div.col-xs-12.col-md-6
            %a.thumb(href="classlink")
              %div.wrapper
                %img.img-responsive.picture(src="img/classlink-work.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    Classlink
                  %p.caption_sub_small
                    Webpage
        %div.row.row
          %div.col-xs-12.col-md-6
            %a.thumb(href="picknic")
              %div.wrapper
                %img.img-responsive.picture(src="img/picknic_work.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    Picknic
                  %p.caption_sub_small
                    App
          %div.col-xs-12.col-md-6
            %a.thumb(href="illustrations")
              %div.wrapper
                %img.img-responsive.picture(src="img/sketch_hat4.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    Experimentation
                  %p.caption_sub_small 
                    Illustrations
        %div.row.last-row
          %div.col-xs-12.col-md-6
            %a.thumb(href="via")
              %div.wrapper
                %img.img-responsive.picture(src="img/via_work.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    VIA
                  %p.caption_sub_small 
                    Infographics
          %div.col-xs-12.col-md-6
            %a.thumb(href="jewelry")
              %div.wrapper
                %img.img-responsive.picture(src="img/earrings_oneflower.jpg")
                %div.caption
                  %p.caption_text
                  %p.caption_sub 
                    Hooked on You
                  %p.caption_sub_small
                    Jewelry
          // %div.col-xs-12.col-md-6
          //   %a.thumb(href="via")
          //     %div.wrapper
          //       %img.img-responsive.picture(src="img/via_work.jpg")
          //       %div.caption
          //         %p.caption_text
          //         %p.caption_sub 
          //           VIA
          //         %p.caption_sub_small 
          //           Infographics
   
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    / Include all compiled plugins (below), or include individual files as needed
    %script(src="js/bootstrap.min.js")
