!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Jewelry
    / Bootstrap
    %link(href="css/bootstrap.min.css" rel="stylesheet")/
    %link(href="css/style.css" rel="stylesheet")/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Roboto+Condensed|Ubuntu+Condensed|Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css')/
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100,100italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.png" />
        
    %body
      %div.project-page
        %nav.navbar.navbar-default.container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed(aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
          %a.navbar-brand(href="/")
            %img.img-responsive.logo(src="img/logo.svg")
          %div.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.pressed
                %a(href="/")
                  WORK
              %li
                %a(href="/approach") 
                  APPROACH
              %li
                %a(href="/about") 
                  ABOUT
              %li
                %a(href="http://helloandi.tumblr.com/") 
                  BLOG
        %div.container
          %div.row
            %div.col-xs-12.col-md-8
              %div.heading
                HOOKED ON YOU
              %img.line(src="img/line_black.svg")
              %div.subhead.black-text
                Laser cut and 3D printed earrings collection
              %div.section-text.work-overview.black-text
                I love earrings and was inspired by the beauty of nature to create this collection. Each piece is designed to feel elegant, simple, and free. I chose to laser cut the earrings out of wood to give it a raw, down to earth feel and painted some black to contrast with the wood tones. Laser cutting allowed me to create the details in each earring, especially the more delicate floral designs. This collection is a celebration of the coming summer.
            // %div.col-xs-12.col-md-6.work-link.work-overview
            //   %a(target="_blank" href="https://www.hackster.io/team-skrt/skrt-e58330") 
            //     %div.section-text
            //       %span.button
            //         SEE PROCESS
            //       %span.glyphicon.glyphicon-circle-arrow-right    
          %img.img-responsive.work-pic(src="img/earrings_leaves.jpg")
          
          %div.project-content
            %div.section-text
              I gave many of these earrings to friends and family as gifts to show how grateful I am to have them in my life. Seeing how much they loved them was the best part of making these. I plan to open up a small online store to sell my earrings collection. The following photos show my laser cut wood earrings.
            %img.img-responsive.section-pic(src="img/earrings_flower.jpg")
            %img.img-responsive.section-pic(src="img/earrings_circle.jpg")
            %img.img-responsive.section-pic(src="img/earrings_rectangle.jpg")
            %img.img-responsive.section-pic(src="img/earrings_triangle.jpg")
            %img.img-responsive.section-pic(src="img/earrings_heart.jpg")
            %div.section-text
              I 3D printed the following leaf earrings as part of a class project where we had to make a trinket to remember college by. Read my story 
              %a(target="blank" href="https://www.hackster.io/andreadeng/dancing-in-the-wind-606312?ref=user&ref_id=5252&offset=0")
                here.
            %img.img-responsive.section-pic(src="img/earrings_3dprinting.jpg")
            %img.img-responsive.section-pic.section-last(src="img/earrings_3d.jpg")
           
           
      %div.footer
        %nav.navbar.navbar-default.container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed(aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
          %a.navbar-brand(href="/")
            %img.img-responsive.logo(src="img/logo.svg")
          %div.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right.home
              %li.pressed
                %a(href="/")
                  WORK
              %li
                %a(href="/approach") 
                  APPROACH
              %li
                %a(href="/about") 
                  ABOUT
              %li
                %a(href="http://helloandi.tumblr.com/") 
                  BLOG
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    / Include all compiled plugins (below), or include individual files as needed
    %script(src="js/bootstrap.min.js")
