!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Picknic
    / Bootstrap
    %link(href="css/bootstrap.min.css" rel="stylesheet")/
    %link(href="css/style.css" rel="stylesheet")/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Roboto+Condensed|Ubuntu+Condensed|Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css')/
    %link(href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css')/
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100,100italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.png" />
    
    %body

      %div.project-page
        %nav.navbar.navbar-default.container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed(aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
          %a.navbar-brand(href="/")
            %img.img-responsive.logo(src="img/logo.svg")
          %div.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.pressed
                %a(href="/")
                  WORK
              %li
                %a(href="/approach") 
                  APPROACH
              %li
                %a(href="/about") 
                  ABOUT
              %li
                %a(href="http://helloandi.tumblr.com/") 
                  BLOG
        %div.container
          %div.row
            %div.col-xs-12.col-md-6
              %div.heading
                PICKNIC
              %img.line(src="img/line_black.svg")
              %div.subhead.black-text
                Pick healthy. Pick prizes.
              %div.section-text.work-overview.black-text
                Our mobile application, Picknic, incentivizes people to buy healthier 
                groceries through a simple, fun, and engaging platform. Users simply 
                snap a picture of their grocery receipt and a list of purchased items 
                populates the Picknic app. From there, points are awarded to each item 
                based on its nutrition ranking. 
            %div.col-xs-12.col-md-6.work-link.work-overview
              %a(target="_blank" href="picknic-process") 
                %div.section-text
                  %span.button
                    SEE PROCESS
                  %span.glyphicon.glyphicon-circle-arrow-right    
          %img.img-responsive.work-pic(src="img/picknic_cover.jpg")
          
        %div.container.project-content
          %div.section-text
            // Read about the process
            // %a(href="picknic-process")
            //   here.
          
          
          // %div.section-title
          //   Picknic App
          // %div.section-text
          //   Pick healthy. Pick prizes.

          %div.recognition
            Obstacles to buying healthy foods include insufficient nutrition 
            knowledge, higher price of healthy foods, and unhealthy eating habits 
            propagated by the media. Picknic simplifies the process of identifying 
            healthy foods by assigning single-number nutrition scores to grocery 
            items. Picknic helps users build long-term healthy habits through a 
            points reward system that allows users to earn tangible prizes, coupons, 
            and raffle tickets by buying healthy groceries. 
          %div.section-text
            In addition, Picknic 
            utilizes social encouragement and gamification to foster sustainability 
            in healthy grocery purchases. Thus, Picknic re-brands healthy eating as 
            financially desirable. For its corporate clients, Picknic’s user-specific 
            newsfeed provides a tailored and effective advertising platform and its 
            customer data provides valuable insight in product improvement. Through a 
            forward-moving and multidimensional approach, Picknic creates an impact in 
            targeting the obesity epidemic.
          %img.img-responsive.section-pic(src="img/picknic1.png")
          %img.img-responsive.section-pic(src="img/picknic2.png")

          %div.section-subtitle
            User Research 
          %div.recognition
            This support for a solution resonates with the results of our 
            preliminary survey of college students, in which 89% of respondents 
            stated price as the factor preventing them from purchasing healthy 
            foods and 80% of respondents said that they would increase their 
            purchases at Trader Joes (R), a potential paying customer, if 
            discounts were offered. In addition, we have established contact 
            with Culination (R) Culinary Director Chef MikeC a prospective 
            partner who has also agreed to introduce us to John Mackey, the 
            CEO of WholeFoods.
          
          %div.section-subtitle
            Features
          %div.section-title
            Gamification and Easy to Use
          %div.section-text
            Our mobile application, Picknic, incentivizes people to buy healthier 
            groceries through a simple, fun, and engaging platform. Users simply 
            snap a picture of their grocery receipt and a list of purchased items 
            populates the Picknic app. From there, points are awarded to each item 
            based on its nutrition ranking. Foods are rated based on a comprehensive
            algorithm developed by our partner, Nuval, that takes into account 
            ingredients, calories, fat content, macronutrients, and micronutrients. 
            The healthier the food item, the more points are awarded. Users can 
            use the points earned by buying healthy groceries to redeem real, tangible 
            prizes such as free smoothies or a free week of salsa classes. 
          %div.section-text
            Additional 
            incentives to buy healthy come from the social and gamification aspects of 
            the application. Users are connected to their network of Facebook friends 
            who have Picknic, and a leaderboard featuring friends with the most points 
            offers friendly competition. In addition, friends can create “Group Goals” 
            where each member contributes part of the total points needed for a prize, 
            such as a four-person ski trip. In addition, users can also access their 
            personal NewsFeed which features content such as “Daily Deals” from 
            grocery partners, Healthy Tips, and insights into friend activity. 
            Furthermore, users can search for product nutrition scores on the mobile 
            application as well as on the Picknic website. Appealing to both to the 
            intrinsic and extrinsic needs of customers, Picknic gamifies buying healthy 
            food and rebrands it as a fun, social, and sustainable choice.
          
          %div.section-subtitle
            Version 1 Designs
          %div.recognition
            A collaboration with Victor Sutarjia who did most of the graphics and I 
            did the layouts, flows, screen generations, and interaction.

          %img.img-responsive.section-pic(src="img/picknic3.png")
          %img.img-responsive.section-pic(src="img/picknic4.png")
          %img.img-responsive.section-pic(src="img/picknic5.png")
          %img.img-responsive.section-pic(src="img/picknic6.png")
          %img.img-responsive.section-pic(src="img/picknic7.png")
          %img.img-responsive.section-pic(src="img/picknic8.png")
          %img.img-responsive.section-pic(src="img/picknic9.png")
          %img.img-responsive.section-pic(src="img/picknic10.png")
          
          %div.section-title
            Advertisting/Business Features  
          %div.section-text
            Picknic has a targeted advertising model where businesses can purchase 
            advertising spots on the Newsfeed as well as promote their products through 
            offering prizes and coupons to reward customers for brand loyalty. 
            The application utilizes users’ data on past purchases and prize choices to 
            display relevant advertisements, optimizing the benefit for the user and 
            effectiveness for the company. In addition, Picknic shares insights about 
            consumer preferences to help companies better understand their target market, 
            allowing companies to develop better products.
          %div.section-text
            Picknic also rewards companies 
            who partner with or sponsor Picknic by featuring their Picknic has a targeted 
            advertising model where businesses can purchase advertising spots on the Newsfeed as well as promote their products through offering prizes and coupons to reward customers for brand loyalty. The application utilizes users’ data on past purchases and prize choices to display relevant advertisements, optimizing the benefit for the user and effectiveness for the company. In addition, Picknic shares insights about consumer preferences to help companies better understand their target market, allowing companies to develop better products. Picknic also rewards companies who partner with or sponsor Picknic by featuring their products and brand stories on the website and Newsfeed.
          %div.section-subtitle
            Version 2 Designs

          %div.recognition
            This interface is simpler and cleaner than Version 1. Major changes include color and layout. 
            We chose orange to be the main color of 
            the app in Version 2 versus the strong blues and greens of Version 1.

          %div.section-title
            Scan Your Receipt
          %div.section-text
            Easily scan your receipt and automatically add points from purchasing healthy food.
          %img.img-responsive.section-pic.smaller-pic(src="img/1.jpg")
          
          %div.section-title
            Points to Real Life Rewards
          %div.section-text
            Use your points to get rewards. You can search through a huge selection of healthy and active 
            lifestyle options.
          %img.img-responsive.section-pic.smaller-pic(src="img/2.jpg")
          
          %div.section-title
            Keep Track of Rewards
          %div.section-text
            Keep track of your rewards and redeem them for those benefits. 
          %img.img-responsive.section-pic.smaller-pic(src="img/0.jpg")
          
          %div.section-subtitle
            Featured
          %div.recognition
            %ul 
              %li 
                We pitched Picknic at the 2013 Global Health and Innovation 
                Conference at Yale University, where Jacqueline DePasse 
                expressed interest in becoming an early investor as well as 
                in taking on a position as a Board member.
                // Take a look at our 
                // %a(target="_blank" href="https://docs.google.com/presentation/d/1np9zZiP93qSUntKyGZ_fjKw4KFCENBR-arL3u4LRfOQ/edit?usp=sharing")
                //   pitch slides.
              %li
                Conversations on Healthcare Radio (R) interviewed us and 
                featured us as a disruptive force at the intersection of 
                preventative healthcare and technology.
              %li 
                We presented at the Innovate@Berkeley Expo in early April 2013, 
                where we received significant interest and beta test signups 
                from attendees.  

          %div.section-subtitle
            Lessons Learned 
          %div.recognition
            I learned a ton about communication with potential users, customers, and business
            partners. Picknic was the project that began my design journey. I designed Picknic 
            without putting a name to what I was doing. I thought I was just trying to solve a problem,
            only later realizing I was using elements of the design process without formalizing
            that knowledge. In fact the first time I heard design, specifically 
            human centered design at an IDEO workshop at the 2013 Global Health and Innovation 
            Conference at Yale University. 
          %div.section-text
            After that, I decided to look into design more and
            look at what classes and clubs UC Berkeley had regarding this area. After challenges
            in contacting anyone, I was sitting in the last Berkeley Innovation meeting that Spring
            semester my Freshman year. The following year I would join Berkeley Innovation,
            the human centered design club at Berkeley, discontinue my work with Picknic and delve into 
            design.

          %div.recognition.section-last
            %a(target="_blank" href="picknic-process") 
              %div.section-text.link-text
                %span.button
                  SEE PROCESS
                %span.glyphicon.glyphicon-circle-arrow-right
      %div.footer
        %nav.navbar.navbar-default.container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed(aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
          %a.navbar-brand(href="/")
            %img.img-responsive.logo(src="img/logo.svg")
          %div.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right.home
              %li.pressed
                %a(href="/")
                  WORK
              %li
                %a(href="/approach") 
                  APPROACH
              %li
                %a(href="/about") 
                  ABOUT
              %li
                %a(href="http://helloandi.tumblr.com/") 
                  BLOG
      
          // %div.section-text.section-last
          //   Read about the process
          //   %a(href="picknic-process")
          //     here.
   
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    / Include all compiled plugins (below), or include individual files as needed
    %script(src="js/bootstrap.min.js")
